@font-face {
  font-family: Lato;
  src: url(../fonts/lato-thin.ttf);
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: Lato;
  src: url(../fonts/lato-thinitalic.ttf);
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: Lato;
  src: url(../fonts/lato-light.ttf);
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Lato;
  src: url(../fonts/lato-lightitalic.ttf);
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: Lato;
  src: url(../fonts/lato-regular.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Lato;
  src: url(../fonts/lato-italic.ttf);
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: Lato;
  src: url(../fonts/lato-bold.ttf);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Lato;
  src: url(../fonts/lato-bolditalic.ttf);
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: Lato;
  src: url(../fonts/lato-black.ttf);
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: Lato;
  src: url(../fonts/lato-blackitalic.ttf);
  font-weight: 900;
  font-style: italic;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1140px;
  margin: auto;
  box-sizing: border-box;
  font-family: Lato, sans-serif;
}

.header {
  background-color: #222222;
}
.header .container {
  display: flex;
  justify-content: space-between;
  height: 75px;
  align-items: center;
}
.header-wrp {
  display: flex;
  align-items: flex-end;
}
.header-wrp button {
  background: transparent;
  border: none;
  margin-left: 30px;
}
.header-wrp button:focus {
  outline: none;
}
.header-wrp button svg {
  fill: #E8E8E8;
  transition: all 0.4s;
}
.header-wrp button svg:hover {
  fill: orange;
}
.header-wrp button svg:active {
  fill: red;
}
.header-cart-btn svg path:nth-child(2) {
  fill: #F16D7F;
}
.header-form {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  margin-left: 40px;
}
.header-form-input {
  margin-left: 30px;
  background-color: transparent;
  border: 3px solid #E8E8E8;
  width: 0;
  opacity: 0;
  transition: all 0.4s;
  color: #E8E8E8;
}
.header-form-input:focus {
  width: 150px;
  opacity: 1;
}
.header-form-label {
  fill: #E8E8E8;
  transition: all 0.4s;
}
.header-form-label:hover {
  fill: orange;
}
.header-form-label:active {
  fill: red;
}
.header-menu-input {
  display: none;
}
.header-menu-btn {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-menu-btn span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #E8E8E8;
  position: relative;
  transition: all 0.4s;
}
.header-menu-btn span::before, .header-menu-btn span::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #E8E8E8;
  position: absolute;
  top: -10px;
  left: 0;
  transition: all 0.4s;
}
.header-menu-btn span::after {
  top: 10px;
}
.header-menu-btn:hover span, .header-menu-btn:hover span::before, .header-menu-btn:hover span::after {
  background-color: orange;
}
.header-menu-btn:active span, .header-menu-btn:active span::before, .header-menu-btn:active span::after {
  background-color: red;
}

.banner {
  background: #F1E4E6;
  transition: all 0.4s;
}
.banner:hover {
  filter: brightness(30%);
}
.banner .container {
  display: flex;
  align-items: center;
  height: 764px;
}
.banner-img {
  background-image: url("../img/bg.png");
  background-size: contain;
  height: 764px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: -200px 0;
  display: flex;
  justify-content: center;
  padding-left: 60%;
  flex-direction: column;
  text-transform: uppercase;
  color: #222222;
}
.banner-title {
  position: relative;
  font-size: 48px;
  font-weight: 900;
}
.banner-title::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 92px;
  background-color: #F16D7F;
  left: -30px;
  top: 5px;
}
.banner-subtitle {
  font-size: 32px;
  font-weight: 700;
}
.banner-subtitle span {
  color: #F16D7F;
}

.offer {
  background-color: #fff;
  padding-top: 65px;
  padding-bottom: 98px;
}
.offer .container {
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.offer-item {
  width: 360px;
  height: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  position: relative;
  background: url("../img/block1.jpg");
  background-size: cover;
}
.offer-item::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(32, 22, 22, 0.7);
}
.offer-item:nth-child(2) {
  background-image: url("../img/block2.jpg");
}
.offer-item:nth-child(3) {
  background-image: url("../img/block3.jpg");
}
.offer-item:nth-child(4) {
  margin-top: 30px;
  width: 100%;
  height: 180px;
  background-image: url("../img/banner.jpg");
}
.offer span {
  z-index: 1;
}
.offer-sentence {
  font-size: 16px;
}
.offer-for {
  font-size: 24px;
  font-weight: 700;
  color: #F16D7F;
}

.product {
  background-color: #fff;
  padding-bottom: 96px;
}
.product .container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.product-content {
  margin: 0 auto;
  text-align: center;
}
.product-title {
  font-size: 30px;
  color: #222222;
}
.product-txt {
  font-size: 14px;
  color: #9F9F9F;
  margin-bottom: 48px;
}
.product-cards {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.product-card {
  width: 360px;
  margin-bottom: 30px;
  position: relative;
}
.product-card img {
  display: block;
}
.product-card-content {
  background-color: #F8F8F8;
  padding: 20px;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product-card-name {
  text-transform: uppercase;
  font-size: 14px;
  color: #000000;
}
.product-card-desc {
  font-size: 14px;
  font-weight: 300;
  color: #5D5D5D;
}
.product-card-price {
  font-size: 16px;
  color: #F16D7F;
}
.product-card-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 420px;
  background-color: rgba(58, 56, 56, 0.86);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.4s;
}
.product-card-hover:hover {
  opacity: 1;
}
.product-card-hover-btn {
  width: 140px;
  height: 44px;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s;
  font-size: 14px;
}
.product-card-hover-btn:hover {
  background-color: #fff;
  color: #000000;
}
.product-card-hover-btn:hover svg {
  fill: #000000;
}
.product-card-hover-btn:active {
  filter: brightness(30%);
}
.product-card-hover-btn svg {
  fill: #fff;
  margin-right: 10px;
  transition: all 0.4s;
}
.product-btn {
  width: 212px;
  height: 48px;
  color: #F26376;
  border: 1px solid #FF6A6A;
  margin: 18px auto 0 auto;
  font-size: 16px;
  background-color: transparent;
  transition: all 0.4s;
}
.product-btn:hover {
  background-color: #FF6A6A;
  color: #fff;
}
.product-btn:active {
  filter: brightness(30%);
}
.product-filter {
  display: flex;
  height: 132px;
  align-items: center;
}
.product-filter-all-input {
  display: none;
}
.product-filter-all-label {
  text-transform: uppercase;
  color: #000000;
  font-size: 14px;
  font-weight: 600;
}
.product-filter-all-label svg {
  margin-left: 11px;
}
.product-filter-sort {
  margin-left: 320px;
}
.product-filter-sort-input {
  display: none;
}
.product-filter-sort-label {
  text-transform: uppercase;
  color: #6F6E6E;
  margin-right: 30px;
  font-size: 14px;
}
.product-filter-sort-label::after {
  content: url("../img/down.svg");
  margin-left: 10px;
}
.product-pagination {
  margin: 18px auto 0 auto;
  width: 290px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 44px;
  border: 1px solid #EBEBEB;
  border-radius: 5px;
}
.product-pagination-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #C4C4C4;
  transition: all 0.4s;
}
.product-pagination-link:hover {
  background-color: #C4C4C4;
  color: #fff;
}
.product-pagination-link:active {
  filter: brightness(30%);
}
.product-pagination-link.active {
  color: #EF5B70;
}
.product-pagination-link.arrow {
  border-radius: 5px 0 0 5px;
  border: none;
  background-color: #fff;
}
.product-pagination-link.arrow:hover {
  background-color: orange;
}
.product-pagination-link.arrow:active {
  background-color: red;
}
.product-pagination-link.arrow:nth-last-child(1) {
  border-radius: 0 5px 5px 0;
}

.feature {
  background: #222224;
  padding-top: 100px;
  padding-bottom: 100px;
}
.feature .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.feature-card {
  width: 360px;
  height: 134px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.feature-card .feature-img {
  height: 40px;
  width: 50px;
  background-image: url("../img/delivery.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.feature-card:nth-child(2) .feature-img {
  background-image: url("../img/sales.svg");
}
.feature-card:nth-child(3) .feature-img {
  background-image: url("../img/quality.svg");
}
.feature-title {
  font-size: 20px;
  color: #FBFBFB;
}
.feature-txt {
  font-size: 14px;
  font-weight: 300;
  color: #FBFBFB;
}

.subscribe {
  background: rgba(244, 244, 244, 0.7) url("../img/subscribe.jpg") center/cover no-repeat;
  background-blend-mode: color-dodge;
}
.subscribe .container {
  display: flex;
  height: 448px;
  justify-content: space-between;
  align-items: center;
}
.subscribe-commit {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 360px;
}
.subscribe-profile {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  background: url("../img/profile.jpg") center -5px no-repeat;
  margin-bottom: 30px;
}
.subscribe-txt {
  font-size: 20px;
  color: #222224;
}
.subscribe-txt span {
  font-style: italic;
}
.subscribe-promo {
  display: flex;
  flex-direction: column;
  text-align: center;
  text-transform: uppercase;
}
.subscribe-title {
  font-size: 24px;
  font-weight: 700;
  color: #222224;
  margin-bottom: 10px;
}
.subscribe-subtitle {
  font-size: 18px;
  color: #222224;
}
.subscribe-form {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.subscribe-email {
  float: left;
  height: 49px;
  width: 256px;
  padding-left: 20px;
  border: none;
  background: #E1E1E1;
  border-radius: 30px 0 0 30px;
}
.subscribe-email:focus {
  outline: none;
}
.subscribe-btn {
  float: left;
  width: 100px;
  height: 49px;
  background: #F16D7F;
  border-radius: 0 30px 30px 0;
  color: #fff;
  border: 3px solid #F16D7F;
  transition: all 0.4s;
}
.subscribe-btn:hover {
  background-color: #E1E1E1;
  color: #222224;
}
.subscribe-btn:active {
  filter: brightness(30%);
}
.subscribe-btn:focus {
  outline: none;
}

.footer {
  background: #222224;
}
.footer .container {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-copy {
  font-size: 16px;
  color: #FBFBFB;
}
.footer-soclinks {
  width: 148px;
  display: flex;
  justify-content: space-between;
}
.footer-soclink {
  width: 32px;
  height: 32px;
  background: #fff;
  text-decoration: none;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s;
}
.footer-soclink:hover {
  background: #F16D7F;
  color: #fff;
}
.footer-soclink:active {
  filter: brightness(30%);
}

.breadcrumb {
  background-color: #F8F3F4;
}
.breadcrumb .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 148px;
}
.breadcrumb-title {
  text-transform: uppercase;
  color: #F16D7F;
  font-size: 24px;
}
.breadcrumb-link {
  text-transform: uppercase;
  text-decoration: none;
  color: #636363;
  font-weight: 300;
  font-size: 14px;
  transition: all 0.4s;
}
.breadcrumb-link:hover {
  color: orange;
}
.breadcrumb-link:active {
  color: red;
}
.breadcrumb-link.active {
  color: #F16D7F;
  font-weight: 700;
}
.breadcrumb-link.active::after {
  content: "";
}
.breadcrumb-link::after {
  content: "/";
  margin: 0 5px;
}

.slider {
  margin-bottom: 128px;
}
.slider-slide {
  height: 777px;
  padding-top: 10px;
  background-color: #F7F7F7;
  border: 1px solid #EAEAEA;
}
.slider-slide .container {
  max-width: 1600px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.slider-slide-btn {
  align-self: center;
  width: 47px;
  height: 47px;
  background-color: rgba(42, 42, 42, 0.15);
  border: none;
  transition: all 0.4s;
}
.slider-slide-btn:hover svg {
  fill: #F16D7F;
}
.slider-slide-btn:active {
  background-color: rgba(42, 42, 42, 0.7);
}
.slider-slide-btn svg {
  fill: #000000;
  transition: all 0.4s;
}
.slider-desc .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #EAEAEA;
  min-height: 600px;
  margin-top: -65px;
  padding: 65px 250px;
  position: relative;
  z-index: 5;
  background-color: #fff;
  text-align: center;
}
.slider-desc .container .product-filter-sort {
  margin-left: 0;
  margin-bottom: 48px;
}
.slider-desc-col {
  color: #F16D7F;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 300;
}
.slider-desc-col::after {
  content: "";
  width: 63px;
  height: 3px;
  background-color: #EF5B70;
  display: block;
  margin: 12px auto;
}
.slider-desc-name {
  color: #4D4D4D;
  text-transform: uppercase;
  margin-bottom: 48px;
  font-weight: 300;
  font-size: 18px;
}
.slider-desc-txt {
  color: #5E5E5E;
  margin-bottom: 32px;
  font-weight: 300;
  font-size: 14px;
}
.slider-desc-price {
  color: #EF5B70;
  font-size: 24px;
  font-weight: 300;
}
.slider-desc-price::after {
  content: "";
  width: 640px;
  height: 1px;
  background-color: #EAEAEA;
  display: block;
  margin-top: 64px;
  margin-bottom: 64px;
}
.slider-desc-btn {
  width: 212px;
  height: 48px;
  background-color: transparent;
  border: 1px solid #FF6A6A;
  color: #F26376;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s;
}
.slider-desc-btn:hover {
  background-color: #FF6A6A;
  color: #fff;
}
.slider-desc-btn:hover svg {
  fill: #fff;
}
.slider-desc-btn:active {
  filter: brightness(30%);
}
.slider-desc-btn svg {
  fill: #EF5B70;
  margin-right: 20px;
  transition: all 0.4s;
}

.cart {
  padding-top: 96px;
  padding-bottom: 128px;
}
.cart .container {
  display: flex;
  justify-content: space-between;
}
.cart-products {
  display: flex;
  flex-direction: column;
}
.cart-product {
  display: flex;
  filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
  width: 650px;
  height: 306px;
  background-color: #fff;
  position: relative;
  margin-bottom: 40px;
}
.cart-product-close {
  color: #575757;
  font-size: 30px;
  position: absolute;
  top: 30px;
  right: 30px;
  border: none;
  background-color: transparent;
  transition: all 0.4s;
  cursor: pointer;
}
.cart-product-close:hover {
  color: orange;
}
.cart-product-close:active {
  color: red;
}
.cart-product-close:focus {
  outline: none;
}
.cart-product-content {
  padding: 30px;
}
.cart-product-content-name {
  color: #222222;
  text-transform: uppercase;
  font-size: 24px;
}
.cart-product-content-list {
  margin-top: 40px;
  list-style-type: none;
}
.cart-product-content-item {
  color: #575757;
  margin-bottom: 5px;
  font-size: 22px;
}
.cart-product-content-item .price {
  color: #EF5B70;
}
.cart-product-content-item .color {
  color: #6F6E6E;
}
.cart-product-content-item .size {
  color: #6F6E6E;
}
.cart-product-content-item .number {
  margin-left: 25px;
  width: 44px;
  height: 25px;
  text-align: right;
  border: 1px solid #EAEAEA;
  color: #656565;
  font-size: 18px;
}
.cart-product-btns {
  margin-top: 30px;
  width: 650px;
  display: flex;
  justify-content: space-between;
}
.cart-product-btns-btn {
  text-transform: uppercase;
  color: #000000;
  background-color: #fff;
  border: 1px solid #A4A4A4;
  height: 49px;
  font-size: 14px;
  font-weight: 300;
  padding-left: 40px;
  padding-right: 40px;
}
.cart-product-btns-btn:hover {
  background-color: #A4A4A4;
  color: #fff;
}
.cart-product-btns-btn:active {
  filter: brightness(30%);
}
.cart-pay-ship {
  display: flex;
  flex-direction: column;
}
.cart-pay-ship.cart-pay-ships {
  flex-direction: column;
}
.cart-pay-ship-title {
  text-transform: uppercase;
  color: #222222;
  font-weight: 300;
  font-size: 16px;
}
.cart-pay-ship-input {
  margin-top: 20px;
  width: 360px;
  height: 45px;
  border: 1px solid #A4A4A4;
  padding-left: 20px;
}
.cart-pay-ship-btn {
  font-size: 11px;
  margin-top: 25px;
  text-transform: uppercase;
  color: #4A4A4A;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #A4A4A4;
  height: 34px;
  width: 100px;
  background-color: transparent;
  transition: all 0.4s;
}
.cart-pay-ship-btn:hover {
  background-color: #A4A4A4;
  color: #fff;
}
.cart-pay-ship-btn:active {
  filter: brightness(30%);
}
.cart-pay-ship-total {
  margin-top: 60px;
  background: #F5F3F3;
  padding: 40px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.cart-pay-ship-subtotal {
  color: #4A4A4A;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 11px;
}
.cart-pay-ship-subtotal span {
  margin-left: 20px;
}
.cart-pay-ship-grandtotal {
  text-transform: uppercase;
  color: #222222;
  position: relative;
  margin-bottom: 50px;
  font-weight: 300;
  font-size: 16px;
}
.cart-pay-ship-grandtotal span {
  color: #F16D7F;
  margin-left: 20px;
  font-weight: 700;
}
.cart-pay-ship-submit {
  background-color: #F16D7F;
  width: 100%;
  height: 50px;
  color: #fff;
  border: 1px solid #F16D7F;
  transition: all 0.4s;
  font-size: 16px;
}
.cart-pay-ship-submit:hover {
  background-color: transparent;
  color: #000000;
}
.cart-pay-ship-submit:active {
  filter: brightness(30%);
}

.registration {
  padding-top: 64px;
  padding-bottom: 96px;
}
.registration .container {
  display: flex;
  justify-content: space-between;
}
.registration-forms {
  width: 360px;
}
.registration-form {
  display: flex;
  flex-direction: column;
}
.registration-form-title {
  font-weight: 300;
  font-size: 16px;
}
.registration-form-input {
  margin-top: 20px;
  height: 45px;
  padding-left: 20px;
  border: 1px solid #A4A4A4;
}
.registration-form-family {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}
.registration-form-family input {
  width: 17px;
  height: 17px;
  border: 1px solid #A4A4A4;
  margin-right: 10px;
}
.registration-form-family label {
  margin-right: 20px;
  font-weight: 300;
  font-size: 11px;
}
.registration-form-txt {
  margin-top: 15px;
  margin-bottom: 40px;
  color: #B1B1B1;
  font-size: 13px;
  font-weight: 300;
}
.registration-form-btn {
  background-color: #F16D7F;
  border: 1px solid #F16D7F;
  width: 167px;
  height: 50px;
  color: #fff;
  transition: all 0.4s;
}
.registration-form-btn svg {
  margin-left: 20px;
  fill: #fff;
  transition: all 0.4s;
}
.registration-form-btn:hover {
  color: #000000;
  background-color: #fff;
}
.registration-form-btn:hover svg {
  fill: #000;
}
.registration-form-btn:active {
  filter: brightness(30%);
}
.registration-rules {
  width: 650px;
}
.registration-rules-title {
  color: #000000;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 300;
}
.registration-rules-txt {
  color: #000000;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 300;
}
.registration-rules-list {
  list-style-type: none;
}
.registration-rules-item {
  font-weight: 300;
  font-size: 24px;
  color: #000000;
  margin-bottom: 15px;
}
.registration-rules-item::before {
  content: url("../img/rules.svg");
  margin-right: 20px;
}

@media (max-width: 768px) {
  .container {
    max-width: 768px;
    padding-right: 16px;
    padding-left: 16px;
  }

  .header .container {
    padding-right: 32px;
    padding-left: 32px;
  }

  .banner .container {
    height: 368px;
  }
  .banner-img {
    height: 368px;
    background-position: 0 0;
    padding-left: 55%;
  }
  .banner-title {
    font-size: 44px;
  }
  .banner-subtitle {
    font-size: 24px;
  }

  .offer {
    padding-top: 20px;
    padding-bottom: 154px;
  }
  .offer-item {
    width: 232px;
    height: 167px;
  }
  .offer-item:nth-child(4) {
    margin-top: 20px;
    height: 116px;
  }

  .product {
    padding-bottom: 64px;
  }
  .product-txt {
    margin-bottom: 72px;
  }
  .product-card {
    margin-bottom: 16px;
  }
  .product-card.hide-m {
    display: none;
  }
  .product-pagination {
    margin-top: 24px;
  }
  .product-filter {
    width: 100%;
    justify-content: space-between;
  }
  .product-filter-sort {
    margin-left: 0;
  }
  .product-filter-sort-label:nth-last-child(1) {
    margin-right: 0;
  }

  .feature {
    padding-top: 0;
    padding-bottom: 64px;
  }
  .feature .container {
    flex-direction: column;
  }
  .feature-card {
    margin-top: 48px;
  }

  .subscribe .container {
    padding-bottom: 140px;
    padding-top: 64px;
    flex-direction: column;
    height: 614px;
  }

  .footer .container {
    padding-right: 32px;
    padding-left: 32px;
  }

  .slider-slide {
    height: 624px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .slider-slide .container {
    padding-right: 0;
    padding-left: 0;
  }
  .slider-slide-img {
    height: 565px;
  }
  .slider-desc .container {
    padding: 65px 100px;
  }
  .slider-desc-price::after {
    width: 175px;
  }

  .cart {
    padding-top: 60px;
  }
  .cart .container {
    flex-direction: column;
  }
  .cart-product {
    width: 734px;
  }
  .cart-product-content-item .number {
    text-align: center;
  }
  .cart-pay {
    margin-top: 64px;
  }
  .cart-pay-ship {
    flex-direction: row;
  }
  .cart-pay-ship-grandtotal {
    margin-bottom: 40px;
  }
  .cart-pay-ship-total {
    margin-top: 38px;
    margin-left: 15px;
    width: 100%;
    height: 214px;
  }

  .registration-rules {
    width: 355px;
  }
  .registration-rules-title, .registration-rules-txt, .registration-rules-item {
    font-size: 16px;
  }
}
@media (max-width: 480px) {
  .container {
    max-width: 768px;
    padding-right: 16px;
    padding-left: 16px;
  }

  .header .container {
    padding-right: 16px;
    padding-left: 16px;
  }
  .header-account-btn, .header-cart-btn {
    display: none;
  }

  .banner .container {
    height: 363px;
  }
  .banner-img {
    height: 363px;
    background: none;
    padding-left: 0;
    align-items: center;
  }
  .banner-title {
    font-size: 38px;
  }
  .banner-title::before {
    height: 61px;
    top: 6px;
  }
  .banner-subtitle {
    font-size: 20px;
  }

  .offer {
    padding-top: 64px;
    padding-bottom: 64px;
  }
  .offer-item {
    width: 100%;
    height: 320px;
    margin-bottom: 32px;
  }
  .offer-item:nth-child(4) {
    margin-top: 0;
    height: 111px;
  }

  .product {
    padding-bottom: 64px;
  }
  .product-txt {
    margin-bottom: 64px;
  }
  .product-cards {
    justify-content: center;
  }
  .product-card {
    margin-bottom: 16px;
  }
  .product-card.hide-m {
    display: block;
  }
  .product-filter-all-label span {
    display: none;
  }
  .product-pagination {
    margin-top: 24px;
  }
  .product-filter {
    width: 100%;
    justify-content: space-between;
  }
  .product-filter-sort {
    margin-left: 0;
  }
  .product-filter-sort-label:nth-last-child(1) {
    margin-right: 0;
  }

  .breadcrumb .container {
    justify-content: space-evenly;
    flex-direction: column;
  }

  .slider-slide {
    height: 624px;
    padding-top: 85px;
    padding-bottom: 85px;
  }
  .slider-slide .container {
    padding-right: 0;
    padding-left: 0;
  }
  .slider-slide-img {
    height: 454px;
  }
  .slider-desc .container {
    padding: 64px 25px;
  }
  .slider-desc-price::after {
    width: 175px;
  }

  .footer .container {
    flex-direction: column-reverse;
    height: 140px;
    padding-top: 40px;
    padding-bottom: 10px;
  }

  .cart-product {
    width: 100%;
    height: 188px;
  }
  .cart-product img {
    height: 188px;
  }
  .cart-product-close {
    top: 20px;
    right: 20px;
    font-size: 16px;
  }
  .cart-product-content {
    padding: 20px;
  }
  .cart-product-content-name {
    font-size: 16px;
  }
  .cart-product-content-list {
    margin-top: 25px;
  }
  .cart-product-content-item {
    font-size: 14px;
  }
  .cart-product-content-item .number {
    width: 24px;
    height: 15px;
    font-size: 10px;
  }
  .cart-product-btns {
    width: 100%;
    margin-top: 0;
  }
  .cart-product-btns-btn {
    font-size: 12px;
    height: 33px;
  }
  .cart-pay-ship {
    flex-direction: column;
  }
  .cart-pay-ship-total {
    margin-left: 0;
  }
  .cart-pay-ship-input {
    width: 100%;
  }

  .registration .container {
    flex-direction: column;
  }
  .registration-forms {
    width: 100%;
  }
  .registration-rules {
    width: 100%;
    margin-top: 40px;
  }
}

/*# sourceMappingURL=style.css.map */
