@import "scss/font";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "scss/container";
@import "scss/header";
@import "scss/banner";
@import "scss/offer";
@import "scss/product";
@import "scss/feature";
@import "scss/subscribe";
@import "scss/footer";
@import "scss/breadcrumb";
@import "scss/slider";
@import "scss/cart";
@import "scss/registration";
@import "scss/media768";
@import "scss/media-m";