@font-face {
    font-family: Lato;
    src: url(../fonts/lato-thin.ttf);
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: Lato;
    src: url(../fonts/lato-thinitalic.ttf);
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: Lato;
    src: url(../fonts/lato-light.ttf);
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: Lato;
    src: url(../fonts/lato-lightitalic.ttf);
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: Lato;
    src: url(../fonts/lato-regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Lato;
    src: url(../fonts/lato-italic.ttf);
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: Lato;
    src: url(../fonts/lato-bold.ttf);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: Lato;
    src: url(../fonts/lato-bolditalic.ttf);
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: Lato;
    src: url(../fonts/lato-black.ttf);
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: Lato;
    src: url(../fonts/lato-blackitalic.ttf);
    font-weight: 900;
    font-style: italic;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden; /* Для меню что бы была анимация */
}

.container {
    width: 1600px;
    margin: 0 auto;
    font-family: Lato, sans-serif;
    font-size: 14px;

}

/* ======= page-header ======= */
.page-header {
    width: 100%;
    min-height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 18px 0;
    box-sizing: border-box;
    background: #222222;
}

.page-header button {
    display: block;
    padding: 0;
    background-color: transparent;
    border: none;
    outline: none;
}

.page-header svg {
    width: 100%;
    height: 100%;
    fill: #E8E8E8;
}

.page-header-wrp-btn {
    width: 111px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.page-header-wrp-btn:nth-child(2) {
    width: 168px;
    position: relative;
}

/* === page-header-logo === */
.page-header-logo {
    display: block;
    width: 44px;
    height: 38px;
    text-decoration: none;
    color: #fff;
}

.page-header-logo:hover img {
    filter: brightness(30%);
}

.page-header-logo:active img {
    filter: brightness(10%);
}

/* === end page-header-logo === */


/* === page-header-search-form === */
.page-header-search-form {
    width: 26px;
    min-height: 26px;
    position: relative;
}

.page-header-search-form:hover svg {
    fill: orange;
}

.page-header-search-btn {
    width: 0;
    min-height: 0;
    padding: 5px;
    outline: none;
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    position: absolute;
    top: -1px;
    left: 30px;
    color: #fff;
    font-size: 16px;
    font-family: Arial, sans-serif;
    text-transform: capitalize;
}

.page-header-search-btn:focus {
    width: 150px;
    min-height: 20px;
    transition: width 1s ease;
    border: 2px solid #fff;
}

.page-header-search-btn:focus ~ label > svg {
    fill: green;
}

.page-header-search-btn:active ~ label > svg {
    fill: red;
}

/* === end page-header-search-form === */

main {
    position: relative;
}

/* === mobile btn === */
.menu-btn {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-btn:hover span,
.menu-btn:hover span::before,
.menu-btn:hover span::after {
    background-color: orange;
}

.menu-btn:active span,
.menu-btn:active span::before,
.menu-btn:active span::after {
    background-color: red;
}

.menu-btn span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fff;
    position: relative;
}

.menu-btn span::before,
.menu-btn span::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fff;
    position: absolute;
    top: -10px;
    left: 0;
}

.menu-btn span::after {
    top: 10px;
}

.page-header-input {
    display: none;
}

.page-header-input:checked + .menu-btn + .account-btn + .cart-btn + .menu-container {
    opacity: 1;
    right: -230px;
}

.menu-container {
    opacity: 0;
    position: absolute;
    padding: 30px;
    background: #FFFFFF;
    height: 764px;
    width: 232px;
    top: 50px;
    right: -462px;
    z-index: 99;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    transition: all 0.4s;
    overflow-x: hidden;
}

.menu-container-title {
    font-size: 14px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
    padding-bottom: 25px;
}

.menu-container-close {
    position: absolute;
    top: 16px;
    right: 16px;
    color: #6F6E6E;
    font-size: 16px;
    cursor: pointer;
}

.menu-container-list {
    list-style-type: none;
    font-size: 14px;
    color: #F16D7F;
    text-transform: uppercase;
}

.menu-container-sublist {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    list-style-type: none;
    font-size: 14px;
    color: #6F6E6E;
    text-transform: none;
}

.menu-container-sublink {
    padding-bottom: 11px;
}


/* === end mobile btn === */


/* === account-btn === */
.account-btn svg {
    width: 29px;
    height: 29px;
}

.account-btn:hover svg {
    fill: orange;
}

.account-btn:active svg {
    fill: red;
}

/* === end account-btn === */


/* === cart-btn === */
.cart-btn svg {
    width: 32px;
    height: 29px;
}

.cart-btn:hover svg {
    fill: orange
}

.cart-btn:active svg {
    fill: red;
}

/* === end cart-btn === */
/* ======= end page-header ======= */


/* ======= page-header-banner ======= */
.page-header-banner {
    width: 100%;
    min-height: 764px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
    background-color: #F1E4E6;
    background-image: url('../img/bg.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom left;
    position: relative;
    transition: all 0.4s;
}

.page-header-banner:hover {
    filter: brightness(50%);
}

.page-header-banner-wrp {
    width: 377px;
    margin: 0 100px 90px 0;
    text-transform: uppercase;
    position: relative;
}

.page-header-banner-wrp:before {
    content: "";
    display: block;
    width: 12px;
    height: 92px;
    background-color: #F16D7F;
    position: absolute;
    top: 0;
    left: -28px;
}

.page-header-banner-title {
    display: block;
    width: 100%;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #222222;
}

.page-header-banner-subtitle {
    display: block;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
}

/* ======= end page-header-banner ======= */


/* ======= categories ======= */

.categories {
    padding-top: 65px;
    padding-bottom: 66px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.categories-item {
    background-image: url('../img/block1.jpg');
    width: 360px;
    height: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: chocolate;
    text-transform: uppercase;
    position: relative;
    background-position: center;
    background-size: 100%;
    transition: all 0.4s;
    margin-right: 30px;
    margin-bottom: 30px;
}

.categories-item:nth-child(3),
.categories-item:nth-child(4) {
    margin-right: 0;
}

.categories-item:hover {
    background-size: 120%;

}

.categories-item:after {
    content: ' ';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(32, 22, 22, 0.7);
}

.categories-item span {
    z-index: 1;
}

.categories-item:nth-child(2) {
    background-image: url('../img/block2.jpg');
}

.categories-item:nth-of-type(3) {
    background-image: url('../img/block3.jpg');
}

.categories-item:nth-of-type(4) {
    background-image: url('../img/banner.jpg');
    width: 100%;
    height: 180px;

}

.categories-item-subtitle {
    font-size: 16px;
    line-height: 19px;

    color: #FFFFFF;
}

.categories-item-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #F16D7F;
}

/* ======= end categories ======= */

/* ======= products ======= */

.products {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.products-item {
    display: flex;
    flex-direction: column;
    width: 360px;
    background: #F3EDED;
    box-sizing: border-box;
    margin-right: 30px;
    margin-bottom: 30px;
    position: relative;
}

.products-item:nth-child(3n) {
    margin-right: 0;
}

.products-item-content {
    padding: 20px 25px;
}

.products-item-title {
    text-transform: uppercase;
    font-size: 13px;
    color: #000000;
}

.products-item-txt {
    padding-top: 12px;
    padding-bottom: 18px;
    font-weight: 300;
    font-size: 14px;
    color: #5D5D5D;
}

.products-item-price {
    font-size: 16px;
    color: #F16D7F;
}

.products-item-hover {
    transition: all 0.4s;
    opacity: 0;
    background: rgba(58, 56, 56, 0.86);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 420px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.products-item-hover:hover {
    opacity: 1;
}

.products-item-hover-btn {
    background: transparent;
    height: 43px;
    width: 138px;
    color: #ffffff;
    border: 1px solid #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    transition: all 0.4s;
}

.products-item-hover-btn:hover {
    background-color: #ffffff;
    color: #000000;
}

.products-item-hover-btn:hover svg {
    fill: #000000;
}

.products-item-hover-btn svg {
    fill: #ffffff;
    transition: all 0.4s;
}

.products-btn {
    border: 1px solid #FF6A6A;
    background-color: transparent;
    height: 48px;
    width: 212px;
    color: #F26376;
    margin: 20px auto 95px auto;
    transition: all 0.4s;
}

.products-btn:hover {
    background-color: #FF6A6A;
    color: #ffffff;
}

.products-page-num {
    display: inline-flex;
    height: 44px;

    list-style-type: none;
    border: 1px solid #EBEBEB;
    margin: 20px auto 96px;

    border-radius: 5px;
}

.products-page-number {
    color: #c4c4c4;
    padding: 10px 15px;

    cursor: pointer;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.products-page-number-active {
    color: #EF5B70;
}


/* ======= end products ======= */

/* ======= features ======= */

.features {
    display: flex;
    justify-content: space-between;
    background-color: #222224;
    padding-top: 104px;
    padding-bottom: 104px;
}

.features-item {
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #FBFBFB;
    height: 134px;
    justify-content: space-between;
}

.features-item-icon {
    fill: #F16D7F;
    line-height: 40px;
}

.features-item-title {
    font-size: 20px;
}

.features-item-txt {
    font-size: 14px;
    font-weight: 300;

}


/* ======= end features ======= */

/* ======= subscribe ======= */

.subscribe {
    height: 448px;
    background: url('../img/subscribe.jpg');
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.subscribe::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(244, 244, 244, 0.7);

}

.subscribe-info {
    z-index: 1;
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 225px;
}

.subscribe-info-avatar {
    background: url('../img/profile.jpg') center -10px no-repeat;
    height: 96px;
    width: 96px;
    border-radius: 50%;
    margin-bottom: 30px;
}

.subscribe-info-txt {
    font-size: 20px;
    color: #222224;
}

.subscribe-info-txt span {
    font-style: italic;
}

.subscribe-promo {
    z-index: 1;
    width: 557px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subscribe-title {
    text-transform: uppercase;
    font-size: 24px;
    color: #222224;
    font-weight: bold;
    line-height: 40px;
}

.subscribe-subtitle {
    font-size: 18px;
    color: #222224;
    text-transform: uppercase;
    line-height: 30px;
    margin-bottom: 32px;
}

.subscribe-form-email {
    height: 49px;
    width: 256px;
    background: #E1E1E1;
    padding: 8px 10px 8px 30px;
    border: none;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    float: left;
}

.subscribe-form-btn {
    height: 49px;
    width: 100px;
    background: #F16D7F;
    border: none;
    color: #fff;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

/* ======= end subscribe ======= */

/* ======= footer ======= */

.page-footer {
    display: flex;
    justify-content: space-between;
    background: #222224;
    padding-top: 24px;
    padding-bottom: 24px;
    align-items: center;
}

.page-footer-txt {
    color: #FBFBFB;
}

.page-footer-socials {
    width: 148px;
    display: flex;
    justify-content: space-between;
}

.page-footer-socials-item {
    width: 32px;
    height: 32px;
    background: #fff;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 15px;
    transition: all 0.4s;
}

.page-footer-socials-item:hover {
    background: #F16D7F;
    color: #ffffff;
}

/* ======= end footer ======= */

/* ======= catalog ======== */

.page-header-banner-catalog {
    background-image: none;
    min-height: 148px;
    justify-content: space-between;
}

.page-header-banner-catalog:hover {
    filter: none;
}

.page-header-links-h {
    list-style-type: none;
    display: inline-flex;
}

.page-header-link-h {
    text-transform: uppercase;
    color: #636363;
    font-size: 14px;
    text-decoration: none;
}

.page-header-link-h::after {
    content: '/';
    padding: 0 5px;
}

.page-header-link-active {
    color: #F16D7F;
    font-weight: 700;
}

.page-header-link-active::after {
    content: '';
    padding: 0;
}

.page-header-title-h {
    font-size: 24px;
    font-weight: 400;
    color: #F16D7F;
    text-transform: uppercase;
}

/* ======= end catalog ======== */

/* ======= filter ======= */

.filter {
    padding-top: 50px;
    padding-bottom: 64px;
    display: flex;
    align-items: center;
    position: relative;
}

.filter-btn {
    text-transform: uppercase;
    font-weight: 600;
    color: #000000;
    font-size: 14px;
    border: none;
    background-color: transparent;
}

.filter-btn svg {
    margin-left: 10px;
}

.filter-form-list {
    list-style-type: none;
    display: inline-flex;
    position: relative;
    margin-left: 280px;
}

.filter-form-link {
    text-transform: uppercase;
    color: #6F6E6E;
    font-size: 14px;
    margin-left: 30px;
}

.filter-form-link::after {
    content: "";
    background: url("../img/down.svg") center center no-repeat;
    padding: 0 15px 3px;
}

.filter-checkbox {
    display: none;
}

.filter-container {
    display: none;
    top: 30px;
    position: absolute;
    z-index: 99;
    background: #ffffff;
    width: 360px;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    padding: 20px;
}

.filter-container-list {
    list-style-type: none;
    width: 100%;
    display: none;
}

.filter-container-link {
    color: #6F6E6E;
    font-size: 14px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.filter-container-label {
    display: block;
    padding: 10px 0 10px 10px;
    border-left: 5px solid #EF5B70;
    border-bottom: 1px solid #EBEBEB;
    text-transform: uppercase;
    color: #EF5B70;
    font-size: 14px;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
}

.filter-checkbox-check:checked + label + .filter-container {
    display: block;
}

.filter-checkbox:checked + label + .filter-container-list {
    display: block;
}

.filter-size-block {
    z-index: 99;
    left: 190px;
    top: 20px;
    position: absolute;
    flex-wrap: wrap;
    width: 80px;
    background: #ffffff;
    padding: 0 30px 10px 10px;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    display: none;
}

.filter-form-size:checked + .filter-form-link + .filter-size-block {
    display: flex;
}

.filter-size-block label {
    padding-top: 10px;
    padding-left: 10px;
}

.filter-size-block input {
    margin-top: 12px;
}

/* ======= end filter ======= */

/* ======= slider ======= */

.slider {
    margin-bottom: 128px;
}

.slider-img {
    height: 777px;
    background-color: #f7f7f7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #eaeaea;
    position: relative;
}

.slider-btn {
    background-color: rgba(42, 42, 42, 0.15);
    height: 47px;
    width: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;

}

.slider-content-block {
    margin-top: -65px;
    background-color: #fff;
    border: 1px solid #eaeaea;
    z-index: 5;
    padding: 65px 250px;
    display: flex;
    position: relative;
    text-align: center;
    flex-direction: column;
}

.slider-content-collection {
    font-weight: 300;
    font-size: 14px;
    color: #F16D7F;
    text-transform: uppercase;
}

.slider-content-hr {
    height: 3px;
    width: 63px;
    background: #EF5B70;
    margin: 12px auto;
}

.slider-content-name {
    font-weight: 300;
    font-size: 18px;
    color: #4D4D4D;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.slider-content-txt {
    font-weight: 300;
    font-size: 14px;
    color: #5E5E5E;
    margin-bottom: 33px;
}

.slider-content-price {
    font-weight: 300;
    font-size: 24px;
    color: #EF5B70;
    margin-bottom: 65px;
}

.slider-content-block hr {
    background: #eaeaea;
    height: 1px;
    color: #eaeaea;
    border: none;
    margin-bottom: 65px;
}

.slider-content-btn-add {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-content-btn-add svg {
    margin-right: 23px;
    fill: #EF5B70;
    transition: all 0.4s;
}

.slider-content-btn-add:hover svg {
    fill: #fff;
}

.slider-filter-form-list {
    list-style-type: none;
    display: inline-flex;
    position: relative;
}

.slider-products {
    padding-bottom: 98px;
}

/* ======= end slider ======= */


/* ======= cart ======= */

.cart{
    padding-top: 96px;
    padding-bottom: 128px;
    display: flex;
    justify-content: space-between;
}

.cart-shopping{
    display: flex;
    flex-direction: column;
}

.cart-shopping-card{
    display: flex;
    filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
    position: relative;
    margin-bottom: 40px;
}

.cart-shopping-card-content{
    background: #fff;
    padding: 20px 30px;
    width: 390px;
}

.cart-shopping-card-title{
    font-size: 24px;
    color: #222222;
    text-transform: uppercase;
}

.cart-shopping-card-list{
    list-style-type: none;
    margin-top: 42px;
    font-size: 22px;
    color: #575757;
}

.cart-shopping-card-perr{
    color: #6F6E6E;
}

.cart-shopping-card-price{
    color: #EF5B70;
}

.cart-shopping-card-quantity{
    color: #6F6E6E;
    width: 44px;
    height: 25px;
    text-align: center;
    margin-left: 24px;
    border: 1px solid #eaeaea;
    border-radius: 0;
}

.cart-shopping-card-cross{
    position: absolute;
    top: 20px;
    right: 20px;
    color: #575757;
    font-size: 20px;
    cursor: pointer;
}

.cart-form{
    width: 360px;
}

.cart-form-ship-title{
    font-weight: 300;
    font-size: 16px;
    text-transform: uppercase;
    color: #222222;
}

.cart-form-ship-input{
    width: 100%;
    height: 45px;
    padding: 20px;
    border: 1px solid #A4A4A4;
    border-radius: 0;
    font-weight: 300;
    font-size: 13px;
    margin-top: 20px;
}

.cart-form-ship-btn{
    width: 100px;
    height: 35px;
    font-size: 11px;
    color: #4A4A4A;
    background: transparent;
    border: 1px solid #A4A4A4;
    margin-top: 20px;
}

.cart-form-ship-total{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background: #F5F3F3;
    padding: 40px;
}

.cart-form-ship-subtotal{
    color: #4A4A4A;
    font-size: 11px;
    text-transform: uppercase;
}

.cart-form-ship-subtotal span{
    margin-left: 20px;
}

.cart-form-ship-grandtotal{
    font-size: 16px;
    font-weight: 300;
    color: #222222;
    text-transform: uppercase;
    margin-top: 20px;
}

.cart-form-ship-grandtotal span{
    font-size: 16px;
    font-weight: 700;
    margin-left: 20px;
    color: #F16D7F;
}

.cart-form-ship-total hr{
    width: 100%;
    background: #E2E2E2;
    height: 1px;
    color: #E2E2E2;
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
}

.card-form-ship-btn{
    text-transform: uppercase;
    background-color: #F16D7F;
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    width: 100%;
    height: 50px;
    border: 1px solid #F16D7F;
    transition: all 0.4s;
}

.card-form-ship-btn:hover{
    background-color: transparent;
    color: #F16D7F;
}

.cart-shopping-btn{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.cart-shopping-btn-b{
    width: 235px;
    height: 50px;
    text-transform: uppercase;
    color: #000000;
    border: 1px solid #A4A4A4;
    background: transparent;
}

/* ======= end cart ======= */

/* ======= registration ======= */

.registration{
    padding-top: 64px;
    padding-bottom: 96px;
}

.registration{
    display: flex;
    justify-content: space-between;
}

.registration-form{
    display: flex;
    flex-direction: column;

}

.registration-form-title{
    font-weight: 300;
    color: #222222;
    font-size: 16px;
    margin-bottom: 20px;
}

.registration-form-input{
    width: 360px;
    height: 45px;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #A4A4A4;
    border-radius: 0;
}

.family{
    padding-top: 10px;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
}

.family input{
    width: 17px;
    height: 17px;
    border: 1px solid #A4A4A4;
    margin-right: 10px;

}

.family label{
    font-weight: 300;
    font-size: 11px;
    color: #000000;
    margin-right: 20px;
}

.family-txt{
    width: 360px;
    color: #B1B1B1;
    font-weight: 300;
    font-size: 13px;
}

.family-btn{
    margin-top: 40px;
    width: 167px;
    height: 50px;
    background-color: #F16D7F;
    color: #ffffff;
    border: 1px solid #F16D7F;
}

.family-btn svg{
    margin-left: 10px;
    fill: #ffffff;
}

.family-btn:hover{
    background-color: transparent;
    color: #F16D7F;
}

.family-btn:hover svg{
    fill: #F16D7F;
}

.registration-rules{
    width: 652px;
}

.registration-rules-title{
    font-weight: 300;
    font-size: 24px;
    color: #000000;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.registration-rules-txt{
    font-weight: 300;
    font-size: 24px;
    color: #000000;
    margin-bottom: 20px;
}

.registration-rules-list{
    list-style-type: none;
}

.registration-rules-item{
    font-weight: 300;
    font-size: 24px;
    color: #000000;
    margin-bottom: 15px;
}

.registration-rules-item::before{
    content: url("../img/rules.svg");
    margin-right: 20px;
}
/* ======= end registration ======= */

input:focus,
input:active,
button:focus {
    outline: none;
}

.padding-site {
    padding-left: 230px;
    padding-right: 230px;
    box-sizing: border-box;
}
