@font-face {
  font-family: Lato;
  src: url(../fonts/lato-thin.ttf);
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: Lato;
  src: url(../fonts/lato-thinitalic.ttf);
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: Lato;
  src: url(../fonts/lato-light.ttf);
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Lato;
  src: url(../fonts/lato-lightitalic.ttf);
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: Lato;
  src: url(../fonts/lato-regular.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Lato;
  src: url(../fonts/lato-italic.ttf);
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: Lato;
  src: url(../fonts/lato-bold.ttf);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Lato;
  src: url(../fonts/lato-bolditalic.ttf);
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: Lato;
  src: url(../fonts/lato-black.ttf);
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: Lato;
  src: url(../fonts/lato-blackitalic.ttf);
  font-weight: 900;
  font-style: italic;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding: 0 calc(50% - 570px);
  font-family: Lato, sans-serif;
  font-size: 14px;
}

.page-header {
  background-color: #222222;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
}
.page-header-logo {
  margin-right: 40px;
  transition: all 0.4s;
}
.page-header-logo:hover {
  filter: brightness(30%);
}
.page-header-logo:active {
  filter: brightness(60%);
}
.page-header-wrp {
  display: flex;
  align-items: flex-end;
  position: relative;
}
.page-header-wrp button {
  margin-left: 30px;
  background-color: transparent;
  border: none;
  fill: #E8E8E8;
}
.page-header-wrp button:focus {
  outline: none;
}
.page-header-wrp button:hover {
  fill: orange;
}
.page-header-wrp button:active {
  fill: red;
}
.page-header-input {
  display: none;
}
.page-header-input:checked + .page-header-menu {
  display: block;
}
.page-header-search-form {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}
.page-header-search-check {
  display: none;
}
.page-header-search-check:checked + .page-header-search-btn {
  opacity: 1;
  width: 150px;
}
.page-header-search-btn {
  opacity: 0;
  width: 0;
  margin-left: 30px;
  background: transparent;
  border: 3px solid #F8F8F8;
  color: #F8F8F8;
  padding: 3px;
  transition: all 0.4s;
}
.page-header-search-label {
  fill: #E8E8E8;
}
.page-header-search-label:hover {
  fill: orange;
}
.page-header-search-label:active {
  fill: red;
}
.page-header-menu {
  display: none;
  z-index: 5;
  position: absolute;
  top: 58px;
  right: 0;
  padding: 30px;
  width: 232px;
  background-color: #fff;
  height: 764px;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}
.page-header-menu .menu-container-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
}
.page-header-menu .menu-container-close {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #6F6E6E;
  cursor: pointer;
  font-size: 18px;
  transition: all 0.4s;
}
.page-header-menu .menu-container-close:hover {
  color: orange;
}
.page-header-menu .menu-container-close:active {
  color: red;
}
.page-header-menu .menu-container-list {
  margin-top: 25px;
  list-style-type: none;
}
.page-header-menu .menu-container-list-link {
  margin-top: 20px;
}
.page-header-menu .menu-container-list-title {
  font-size: 14px;
  color: #F16D7F;
  text-transform: uppercase;
  text-decoration: none;
}
.page-header-menu .menu-container-sublist {
  margin-left: 25px;
  list-style-type: none;
}
.page-header-menu .menu-container-sublink {
  margin-top: 10px;
}
.page-header-menu .menu-container-sublink a {
  color: #6F6E6E;
  text-decoration: none;
}
.page-header-banner {
  background-color: #F1E4E6;
  padding: 0 calc(50% - 800px);
  transition: all 0.4s;
}
.page-header-banner:hover {
  filter: brightness(30%);
}
.page-header-banner-img {
  background-image: url("../img/bg.png");
  margin-bottom: 65px;
  background-repeat: no-repeat;
  min-height: 764px;
  width: 100%;
  padding-left: calc(50% - 570px);
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.page-header-banner-title {
  font-weight: 900;
  font-size: 48px;
  color: #222222;
  text-transform: uppercase;
  margin-left: 60%;
  position: relative;
}
.page-header-banner-title::before {
  left: -30px;
  content: "";
  width: 12px;
  height: 92px;
  display: block;
  position: absolute;
  background-color: #F16D7F;
}
.page-header-banner-subtitle {
  color: #222222;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 32px;
  margin-left: 60%;
}
.page-header-banner-subtitle span {
  color: #F16D7F;
}
.page-header-crumb {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 150px;
  background-color: #F8F3F4;
}
.page-header-crumb-title {
  text-transform: uppercase;
  color: #F16D7F;
  font-size: 24px;
}
.page-header-crumb-link {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 14px;
  text-decoration: none;
  color: #636363;
}
.page-header-crumb-link:hover {
  color: orange;
}
.page-header-crumb-link:active {
  color: red;
}
.page-header-crumb-link.active {
  font-weight: 700;
  color: #F16D7F;
}
.page-header-crumb-link.active:hover {
  color: orange;
}
.page-header-crumb-link.active:active {
  color: red;
}
.page-header-crumb-link.active:after {
  content: "";
}
.page-header-crumb-link:after {
  content: "/";
  padding: 0 5px;
}

.menu-btn {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-btn:hover span, .menu-btn:hover span::before, .menu-btn:hover span::after {
  background-color: orange;
}
.menu-btn:active span, .menu-btn:active span::before, .menu-btn:active span::after {
  background-color: red;
}
.menu-btn span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fff;
  position: relative;
}
.menu-btn span::before, .menu-btn span::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fff;
  position: absolute;
  top: -10px;
  left: 0;
}
.menu-btn span::after {
  top: 10px;
}

.cart-btn path:nth-child(2) {
  fill: #F16D7F;
}

.categories {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 96px;
}
.categories-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 360px;
  height: 260px;
  background-color: green;
  background-image: url("../img/block1.jpg");
  position: relative;
  background-position: center;
  background-size: 100%;
  transition: all 0.4s;
}
.categories-item:hover {
  background-size: 120%;
}
.categories-item span {
  z-index: 1;
}
.categories-item:nth-child(2) {
  background-image: url("../img/block2.jpg");
}
.categories-item:nth-child(3) {
  background-image: url("../img/block3.jpg");
}
.categories-item:nth-child(4) {
  margin-top: 30px;
  width: 100%;
  height: 180px;
  background-image: url("../img/banner.jpg");
}
.categories-item::before {
  content: "";
  display: block;
  background-color: rgba(33, 22, 22, 0.7);
  width: 100%;
  height: 100%;
  position: absolute;
}
.categories-item-subtitle {
  font-size: 16px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.categories-item-title {
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  color: #F16D7F;
}

.products {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.products-filter {
  padding-bottom: 64px;
  display: flex;
}
.products-filter-all {
  position: relative;
}
.products-filter-all-container {
  background: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding: 15px;
  width: 360px;
  position: absolute;
  z-index: 5;
  top: 0;
  display: none;
  flex-direction: column;
}
.products-filter-all-label {
  text-transform: uppercase;
  font-size: 14px;
  color: #EF5B70;
  border-left: 5px solid #EF5B70;
  padding-left: 10px;
  line-height: 36px;
  border-bottom: 1px solid #EBEBEB;
  margin-top: 20px;
}
.products-filter-all-link {
  padding-bottom: 10px;
  color: #6F6E6E;
  font-size: 14px;
}
.products-filter-all-link:first-child {
  padding-top: 20px;
}
.products-filter-all-list {
  list-style-type: none;
  display: none;
  flex-direction: column;
  padding-left: 18px;
}
.products-filter-all-check {
  display: none;
}
.products-filter-all-check:checked + label + div, .products-filter-all-check:checked + label + ul {
  display: flex;
}
.products-filter-all-btn {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
}
.products-filter-all-btn span {
  padding-right: 10px;
}
.products-filter-or {
  margin-left: 320px;
  position: relative;
}
.products-filter-or-label {
  font-size: 14px;
  text-transform: uppercase;
  color: #6F6E6E;
  margin-right: 20px;
}
.products-filter-or-label:after {
  content: url("../img/down.svg");
  padding-left: 10px;
}
.products-filter-or-list {
  position: absolute;
  display: none;
  flex-direction: column;
  list-style-type: none;
  background: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  width: 80px;
  padding: 10px;
  z-index: 5;
  left: 135px;
  align-items: flex-start;
}
.products-filter-or-link {
  text-transform: uppercase;
  color: #6F6E6E;
  font-size: 14px;
}
.products-filter-or-link input {
  margin-right: 10px;
  margin-bottom: 10px;
}
.products-cards {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.products-title {
  color: #222222;
  font-size: 30px;
}
.products-subtitle {
  color: #9F9F9F;
  font-size: 16px;
  margin-bottom: 48px;
}
.products-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.products-btn {
  width: 212px;
  height: 48px;
  border: 1px solid #F26376;
  color: #F26376;
  background-color: transparent;
  font-size: 16px;
  font-family: Lato, sans-serif;
  transition: all 0.4s;
  margin: 18px auto 93px auto;
}
.products-btn:hover {
  background-color: #F26376;
  color: #ffffff;
}
.products-btn:active {
  filter: brightness(30%);
}

.product-cards-pagination {
  display: flex;
  height: 44px;
  align-items: center;
  border: 1px solid #EBEBEB;
  margin: 18px auto 95px;
  border-radius: 5px;
}
.product-cards-pagination-item {
  padding: 0 15px;
  height: 44px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #C4C4C4;
  transition: all 0.4s;
}
.product-cards-pagination-item:hover {
  color: #EF5B70;
}
.product-cards-pagination-item:active {
  filter: brightness(30%);
}
.product-cards-pagination-item.active {
  color: #EF5B70;
}
.product-cards-pagination-arrow {
  border: 1px solid #EBEBEB;
  background-color: #EBEBEB;
  transition: all 0.4s;
}
.product-cards-pagination-arrow:nth-child(1) {
  border-radius: 5px 0 0 5px;
}
.product-cards-pagination-arrow:nth-last-child(1) {
  border-radius: 0 5px 5px 0;
}
.product-cards-pagination-arrow:hover {
  background-color: #EF5B70;
}
.product-cards-pagination-arrow:active {
  filter: brightness(30%);
}
.product-cards-pagination-arrow:focus {
  outline: none;
}
.product-card {
  width: 360px;
  margin-bottom: 30px;
  position: relative;
}
.product-card img {
  display: block;
}
.product-card-content {
  padding: 20px;
  background-color: #F8F8F8;
  min-height: 162px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product-card-content-name {
  text-transform: uppercase;
  font-size: 13px;
  color: #000000;
}
.product-card-content-txt {
  color: #5D5D5D;
  font-weight: 300;
  font-size: 14px;
}
.product-card-content-price {
  font-size: 16px;
  text-transform: uppercase;
  color: #F16D7F;
}
.product-card-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 420px;
  background-color: rgba(58, 56, 56, 0.86);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.4s;
}
.product-card-hover:hover {
  opacity: 1;
}
.product-card-hover-btn {
  border: 1px solid #ffffff;
  color: #ffffff;
  display: flex;
  align-items: center;
  background-color: transparent;
  width: 140px;
  height: 44px;
  justify-content: center;
  transition: all 0.4s;
}
.product-card-hover-btn:hover {
  background-color: #ffffff;
  color: #000000;
}
.product-card-hover-btn:hover svg {
  fill: #000000;
}
.product-card-hover-btn:active {
  filter: brightness(30%);
}
.product-card-hover-btn svg {
  transition: all 0.4s;
  fill: #ffffff;
  margin-right: 10px;
}

.feature {
  display: flex;
  justify-content: space-between;
  background-color: #222222;
  padding-top: 100px;
  padding-bottom: 100px;
}
.feature-item {
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  height: 134px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.feature-item svg {
  fill: #F16D7F;
  height: 40px;
}
.feature-title {
  font-size: 20px;
  color: #FBFBFB;
}
.feature-txt {
  font-size: 14px;
  font-weight: 300;
  color: #FBFBFB;
}

.subscribe {
  display: flex;
  justify-content: space-between;
  height: 448px;
  align-items: center;
  position: relative;
  background-blend-mode: lighten;
  background-repeat: no-repeat;
  background-image: url("../img/subscribe.jpg");
  background-position: center;
  background-size: cover;
  background-color: rgba(244, 244, 244, 0.7);
}
.subscribe-commit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.subscribe-commit-avatar {
  background: url("../img/profile.jpg") center -10px;
  height: 96px;
  width: 96px;
  border-radius: 50%;
}
.subscribe-commit-info-txt {
  margin-top: 30px;
  font-size: 20px;
}
.subscribe-commit-info-txt span {
  font-style: italic;
}
.subscribe-promo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.subscribe-promo-title {
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
}
.subscribe-promo-subtitle {
  text-transform: uppercase;
  font-size: 18px;
  padding-top: 5px;
  padding-bottom: 30px;
}
.subscribe-promo-form {
  display: flex;
}
.subscribe-promo-form-email {
  background-color: #E1E1E1;
  height: 49px;
  width: 256px;
  padding-left: 20px;
  border: none;
  border-radius: 30px 0 0 30px;
}
.subscribe-promo-form-email:focus {
  outline: none;
}
.subscribe-promo-form-btn {
  width: 100px;
  height: 49px;
  display: block;
  background-color: #F16D7F;
  border-radius: 0 30px 30px 0;
  color: white;
  transition: all 0.4s;
  border: 3px solid #F16D7F;
}
.subscribe-promo-form-btn:hover {
  background-color: #E1E1E1;
  color: #000;
}
.subscribe-promo-form-btn:active {
  filter: brightness(30%);
}
.subscribe-promo-form-btn:focus {
  outline: none;
}

.footer {
  background-color: #222222;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #FBFBFB;
  font-size: 16px;
}
.footer-soclinks {
  width: 150px;
  display: flex;
  justify-content: space-between;
}
.footer-soclink {
  color: #000000;
  background-color: #fff;
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s;
}
.footer-soclink:hover {
  background-color: #F16D7F;
  color: #fff;
}

.slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f7f7f7;
  border: 1px solid #eaeaea;
  padding: 0 calc(50% - 800px);
}
.slider-arrow {
  height: 47px;
  width: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: rgba(42, 42, 42, 0.15);
}
.slider-arrow:hover {
  background-color: rgba(42, 42, 42, 0.4);
}
.slider-arrow:active {
  background-color: rgba(42, 42, 42, 0.6);
}
.slider-arrow:focus {
  outline: none;
}
.slider-arrow svg {
  width: 12px;
  height: 21px;
}

.slider-desc-block {
  position: relative;
  background-color: #fff;
  margin-top: -65px;
  z-index: 5;
  border: 1px solid #eaeaea;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 65px 290px;
}
.slider-desc-block .products-filter-or {
  margin-left: 0;
  margin-bottom: 50px;
}
.slider-desc-col {
  color: #F16D7F;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 300;
}
.slider-desc-col:after {
  content: "";
  display: block;
  width: 63px;
  height: 3px;
  background-color: #ef5b70;
  margin: 10px auto;
}
.slider-desc-name {
  color: #4d4d4d;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 50px;
}
.slider-desc-txt {
  font-weight: 300;
  font-size: 14px;
  color: #5e5e5e;
  margin-bottom: 30px;
}
.slider-desc-price {
  font-size: 24px;
  font-weight: 300;
  color: #ef5b70;
}
.slider-desc-price:after {
  content: "";
  display: block;
  width: 642px;
  height: 1px;
  background-color: #eaeaea;
  margin-top: 65px;
  margin-bottom: 65px;
}
.slider-desc-btn {
  border: 1px solid #FF6A6A;
  background: transparent;
  color: #F26376;
  width: 212px;
  height: 50px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s;
}
.slider-desc-btn:hover {
  color: #fff;
  background-color: #FF6A6A;
}
.slider-desc-btn:hover svg {
  fill: #fff;
}
.slider-desc-btn:active {
  filter: brightness(30%);
}
.slider-desc-btn:focus {
  outline: none;
}
.slider-desc-btn svg {
  transition: all 0.4s;
  fill: #F26376;
  margin-right: 20px;
}

.cart {
  margin-top: 96px;
  display: flex;
  margin-bottom: 128px;
}
.cart-shopping {
  display: flex;
  flex-direction: column;
}
.cart-shopping-card {
  position: relative;
  display: flex;
  width: 652px;
  margin-bottom: 40px;
  filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
}
.cart-shopping-card-content {
  background-color: #fff;
  width: 390px;
  padding: 30px;
}
.cart-shopping-card-title {
  font-size: 24px;
  color: #222222;
  text-transform: uppercase;
}
.cart-shopping-card-list {
  margin-top: 40px;
  list-style-type: none;
}
.cart-shopping-card-item {
  color: #575757;
  font-size: 22px;
  margin-bottom: 5px;
}
.cart-shopping-card-item span {
  padding-left: 5px;
}
.cart-shopping-card-price {
  color: #EF5B70;
}
.cart-shopping-card-quantity {
  width: 44px;
  text-align: center;
  border: 1px solid #EAEAEA;
  height: 25px;
}
.cart-shopping-card-cross {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 25px;
  color: #575757;
  cursor: pointer;
  transition: all 0.4s;
}
.cart-shopping-card-cross:hover {
  filter: brightness(30%);
}
.cart-shopping-card-cross:active {
  filter: brightness(60%);
}
.cart-shopping-btn {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.cart-shopping-btn-b {
  height: 50px;
  padding: 15px 40px;
  text-transform: uppercase;
  color: #000000;
  background-color: transparent;
  border: 1px solid #A4A4A4;
  transition: all 0.4s;
}
.cart-shopping-btn-b:hover {
  background-color: #a4a4a4;
  color: #fff;
}
.cart-shopping-btn-b:active {
  filter: brightness(30%);
}
.cart-shopping-btn-b:focus {
  outline: none;
}
.cart-form {
  margin-left: 128px;
}
.cart-form-ship {
  display: flex;
  flex-direction: column;
}
.cart-form-ship-title {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 300;
  color: #222222;
  margin-bottom: 20px;
}
.cart-form-ship-input {
  width: 360px;
  height: 45px;
  margin-bottom: 20px;
  padding-left: 20px;
  border: 1px solid #A4A4A4;
}
.cart-form-ship-btn {
  text-transform: uppercase;
  width: 100px;
  height: 35px;
  border: 1px solid #A4A4A4;
  background: transparent;
  font-size: 11px;
  color: #4a4a4a;
  transition: all 0.4s;
}
.cart-form-ship-btn:hover {
  background-color: #a4a4a4;
  color: #fff;
}
.cart-form-ship-btn:active {
  filter: brightness(30%);
}
.cart-form-ship-total {
  margin-top: 60px;
  background: #F5F3F3;
  padding: 45px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.cart-form-ship-subtotal {
  font-size: 11px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.cart-form-ship-subtotal span {
  padding-left: 10px;
}
.cart-form-ship-grandtotal {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 20px;
}
.cart-form-ship-grandtotal span {
  font-weight: 700;
  color: #F16D7F;
  padding-left: 10px;
}
.cart-form-ship-btns {
  width: 275px;
  height: 50px;
  background: #F16D7F;
  text-transform: uppercase;
  border: 1px solid #F16D7F;
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  transition: all 0.4s;
}
.cart-form-ship-btns:hover {
  color: #000;
  background-color: #fff;
}
.cart-form-ship-btns:active {
  filter: brightness(30%);
}

.registration {
  padding-top: 64px;
  padding-bottom: 96px;
  display: flex;
  justify-content: space-between;
}
.registration-form {
  display: flex;
  flex-direction: column;
  width: 360px;
}
.registration-form-title {
  font-size: 16px;
  font-weight: 300;
  color: #222222;
  margin-bottom: 20px;
}
.registration-form-title:nth-child(5) {
  margin-top: 30px;
}
.registration-form-input {
  border: 1px solid #A4A4A4;
  height: 44px;
  padding-left: 15px;
  margin-bottom: 20px;
}
.registration-rules {
  margin-left: 130px;
}
.registration-rules-title {
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.registration-rules-txt {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 20px;
}
.registration-rules-list {
  list-style-type: none;
}
.registration-rules-item {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 15px;
}
.registration-rules-item::before {
  content: url("../img/rules.svg");
  margin-right: 20px;
}

.family {
  margin-top: 10px;
  display: flex;
  align-items: center;
}
.family input {
  margin-right: 10px;
  width: 17px;
  height: 17px;
}
.family label {
  font-weight: 300;
  font-size: 11px;
}
.family-txt {
  margin-bottom: 40px;
  color: #b1b1b1;
  font-weight: 300;
  font-size: 13px;
}
.family-btn {
  width: 170px;
  height: 50px;
  background: #F16D7F;
  border: 1px solid #F16D7F;
  color: #fff;
  transition: all 0.4s;
}
.family-btn:hover {
  background-color: #fff;
  color: #000000;
}
.family-btn:hover svg {
  fill: #000;
}
.family-btn:active {
  filter: brightness(30%);
}
.family-btn svg {
  fill: #fff;
  transition: all 0.4s;
}

#female {
  margin-left: 20px;
}

@media (max-width: 768px) {
  .container {
    padding: 0 calc(50% - 384px);
  }

  .page-header-banner-img {
    min-height: 368px;
    margin-bottom: 30px;
  }
  .page-header-banner-title {
    font-size: 44px;
  }
  .page-header-banner-subtitle {
    font-size: 24px;
  }

  .categories {
    margin-bottom: 150px;
  }
  .categories-item {
    width: 230px;
    height: 167px;
  }
  .categories-item:nth-child(4) {
    height: 115px;
  }

  .product-card {
    margin-bottom: 20px;
  }

  .products-btn {
    margin-bottom: 65px;
  }

  .feature {
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
  }
  .feature-item {
    width: 360px;
    margin-bottom: 50px;
    margin-right: 0;
  }

  .subscribe {
    height: 614px;
    flex-direction: column;
    justify-content: space-around;
  }
}
@media (max-width: 480px) {
  .container {
    padding: 0 calc(50% - 240px);
  }

  .page-header-banner-img {
    min-height: 363px;
    background-image: none;
    margin-bottom: 64px;
    justify-content: center;
    align-items: center;
  }
  .page-header-banner-title {
    font-size: 44px;
    margin-left: 0;
  }
  .page-header-banner-subtitle {
    font-size: 24px;
    margin-left: 35px;
  }

  .categories {
    margin-bottom: 64px;
    flex-direction: column;
  }
  .categories-item {
    width: 100%;
    height: 320px;
    margin-bottom: 30px;
    background-size: cover;
  }
  .categories-item:nth-child(4) {
    height: 111px;
    background-size: cover;
    margin-top: 0;
  }

  .products-cards {
    flex-direction: column;
  }

  .feature {
    padding-top: 50px;
  }

  .account-btn {
    display: none;
  }

  .cart-btn {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
