.feature {
  background: #222224;
  padding-top: 100px;
  padding-bottom: 100px;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-card {
    width: 360px;
    height: 134px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .feature-img {
      height: 40px;
      width: 50px;
      background-image: url("../img/delivery.svg");
      background-repeat: no-repeat;
      background-size: contain;
    }

    &:nth-child(2) .feature-img {
      background-image: url("../img/sales.svg");
    }

    &:nth-child(3) .feature-img {
      background-image: url("../img/quality.svg");
    }
  }

  &-title {
    font: {
      size: 20px;
    };
    color: #FBFBFB;
  }

  &-txt {
    font: {
      size: 14px;
      weight: 300;
    };
    color: #FBFBFB;
  }


}